.main-container{
   /* display: inline-block;
  margin-left: 25px; */
  margin-top: 40px; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.cards{
  height: 450px;
  width: 330px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 2px gray;
  background-color: rgb(231, 200, 89);
  /* rgb(231, 200, 89);*/
}
.happy-bday{
 font-size: 23px;
 text-align: center;
 margin-top: 60px;
 color:rgb(35, 15, 250);
}
.h-letter{
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
}
.y-letter{
  font-size: 45px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(60, 16, 114);
}
.name{
  font-size: 27px;
  margin-left: 5px;
  color: rgb(51, 49, 49);
  background-color: yellow;
}

.tagline-red{
  border-bottom: 1px solid rgb(12, 12, 12);
  text-align:justify;
  margin-left: 10px;
  font-size:22px;
  color: rgb(235, 18, 18);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.tagline-violet{
  border-bottom: 1px solid rgb(12, 12, 12);
  text-align:justify;
  margin-left: 10px;
  font-size:22px;
  color:rgb(56, 8, 102);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.friends{
  font-size:18px;
  color: rgb(75, 10, 136);
}
.wish{
    font-size:18px;
    color: rgb(50, 52, 50);
  }
